<widget	xmlns				= "http://www.w3.org/ns/widgets"
			xmlns:gap		= "http://phonegap.com/ns/1.0"
			xmlns:android	= "http://schemas.android.com/apk/res/android"
			id				= "com.mooky.dev"
			version			= "1.0.0">
	<name>Mooky Dev</name>
	<description>
	</description>
	<author email="support@mooky.com" href="http://mooky.com">
		Mooky, Inc.
	</author>
	<content src="index.html" />

	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" launch-external="true" />
	<allow-intent href="sms:*" launch-external="true" />
	<allow-intent href="mailto:*" launch-external="true" />
	<allow-intent href="geo:*" launch-external="true" />
	<allow-intent href="market:*" launch-external="true" />
	<allow-intent href="itms:*" launch-external="true" />
	<allow-intent href="itms-apps:*" launch-external="true" />

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />

	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="android-build-tool" value="gradle" />

	<!-- Android SDK Version -->
	<!-- Drawerings 1.2.0 changed from Android support version 16 to 19 -->
	<preference name="android-minSdkVersion" value="16" />
	<!-- iOS Version -->
	<!-- Drawerings 1.2.0 changed from iOS support version 6.1 to 7.1 -->
	<preference name="deployment-target" value="8.0" />

	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</gap:config-file>

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true"/>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#e8390e" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="ionic-plugin-keyboard" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	<gap:plugin name="cordova-plugin-ga" source="npm" />
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-appversion" source="npm" />
	<gap:plugin name="cordova-plugin-webintent2" source="npm" />
	<gap:plugin name="cordova-plugin-apprate" source="npm" />

	<feature name="http://api.phonegap.com/1.0/network" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>

	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<gap:config-file platform="android" parent="/manifest/application">
		<activity android:windowSoftInputMode="adjustPan" />
	</gap:config-file>

	<!-- Default Icon/Splash -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->


</widget>